# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Others
others/
average.cpp
conver.cpp
Converging1.cpp
knapsack.cpp
Largest.cpp
Leap.cpp
marriage.cpp
Monopoly.cpp
PD1.cpp
prac0924.cpp
Safe.cpp
smaller.cpp
Sumup.cpp
tempCodeRunnerFile.cpp
test0919.cpp
test0919.exe.stackdump
Time.cpp
hw1_3.cpp
hw3_3_1.cpp
hw3_3_3.cpp
hw3_4.cpp
hw3_4_1.cpp
hw3_4_2.cpp
